<div id="favorite-book-id-<%= book.id %>" class="favorite-btn">
  <%
  if book.favorited_by?(current_user)
    method = :delete
    class_name = 'favorite-true'
  else
    method = :post
    class_name = 'favorite-false'
  end
  %>

  <%= form_with url: book_favorites_path(book), method: method, local: false, class: class_name do |f| %>
    <%= f.submit '♥' + book.favorites.count.to_s %>

  <% end %>
</div>