.container.px-5.px-sm-0
  .row
    .col-md-3
      %h2 User info
      = render 'info', user: @user
    .col-md-8.offset-md-1
      %h2 Followed by those users
      = render 'index', users: @follower_users
