@use "~bootstrap/scss/bootstrap";


.favorite-btn {
  input[type="submit"] {
    border: none;
    background: none;
  }

  .favorite-true {
    input[type="submit"] {
      color: #ff0000;
    }
  }
}

.direct-message {
  .datetime {
    font-size: 0.8rem;
  }
}